@model sklad56.Models.PartialUserInfo

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <table align="center" height="30">
            <tr>
                <td width="150">@Model.Name</td>
                <td width="150">@DateTime.Now.ToShortDateString()</td>
                <td width="150">Склад 56</td>
            </tr>
        </table>
</div>
    <div class="col-sm-3">
    </div>
</div>

    
