@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        Ошибка запроса<br />
        @Html.ActionLink("Вернуться на главную", "Index", "Home")
    </div>
</body>
</html>