@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFoundPage</title>
</head>
<body>
    <div>
        Ошибка 404. Страница не найдена, куда подевалась - неизвесно <br />
        @Html.ActionLink("Вернуться на главную", "Index", "Home")
    </div>
</body>
</html>
